
html,
body  {
    height: 100%;
    margin: 0;
    color: #b0b0b0;
    background-color: #161618;
  }
  
#divnote {
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divfooter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;;
}

#note {

  margin: 0;
  font-size: 70vmin;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

} 


header {
  text-align: right;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    text-align: right;

  }



#bpm {
    font-size: 15vmin;
    color: #b0b0b0;
    background-color: #161618;
    text-align: center;

    box-sizing: border-box;
    border: 3px solid #b0b0b0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.2;

}

#counter { 
  font-size: 10vmin;
  color: #b0b0b0;
  float:left;
  margin:0 auto;
  opacity: 0.2;
}



#edit {
  font-size: 10vmin;
  opacity: 0.2;
  float:right;

}


#exerciseSelect { 
  font-size: 10vmin;
  color: #b0b0b0;
  float:right;
  margin:0 auto;
  opacity: 0.2;
  width: 100%;
  background-color: #161618;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
} 

#bpm:focus {
    opacity: 1;

}

#bar {
    width: 100%;
}
  

textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  resize: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#textdiv {
  height: 50%;
  display: none;
}


